fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
bcrypt
python-dotenv
openai
pydantic
pydantic-settings
cryptography
pandas
email-validator
pymssql
pymysql
sqlglot
python-multipart

